@font-face{
    font-family: Ghetto Streetz DEMO;
    src: url('../fonts/Ghetto\ Streetz\ DEMO.ttf');
}
@font-face{
    font-family: PWGraffiti;
    src: url('../fonts/PWGraffiti.ttf');
}
@font-face{
    font-family: Street soul;
    src: url('../fonts/street\ soul.ttf');
}
@font-face{
    font-family: ZitGraffiti;
    src: url('../fonts/ZITGRAFF.TTF');
}